<html lang="en">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">No Probllama!</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/animals">Animals</a></li>
                <li><a href="/foods">Food Inventory</a></li>
                <li><a href="/feedings">Feedings</a></li>
                <li><a href="/sponsorships">Sponsorships</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-md-8 mx-auto">

    <div class="">
        <h3>Change the active status of {{animal.name}}:</h3>
    </div>
    <br>

    <form id="update-animal" action="/animals" method="post">
        <div class="form-group">
            <label for="active">To toggle animal's active status, enter a "0" for inactive or "1" for active:</label>
            <input type="number" class="form-control" name="active" value="{{animal.active}}" required><br>
        </div>
        <button onclick="updateAnimal({{animal.id}})">Update</button>
    </form>

    <br>

    <footer class="container-fluid text-center">
        <h6>Copyright No Probllama! 2020 All Rights Reserved.</h6>
    </footer>
</div>
